
 body{
   color: white;
   background-image: url("../images/jn.jpg");
   background-repeat: no-repeat;
   background-size: cover;
  position: fixed;


 }
#play{
margin-left: 40em;
margin-bottom: 70em;
float: left;
}
#next {
  display: none;
  font-size: 2em;

  font-weight: bold;
}
